{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href={% static "bootstrap/css/bootstrap.min.css" %}>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abhaya+Libre">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Antic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href={% static "css/projects.css" %}>
</head>
<body>
    <div class="jumbotron">
    {% include "navbar.html" %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="text-center" style="font-family:'Alfa Slab One', cursive;font-size:40px;">Projects</h1>
                </div>
            </div>
            <div class="row mt10">
                <div class="col">
                    <h2 class="text-center" style="font-family:'Abhaya Libre', serif;font-size:28px;">These are some of the projects that I did.</h2>
                </div>
            </div>
            <div class="row mt20">
                <div class="col-12 col-sm-12 col-lg-10 offset-0 offset-sm-0 offset-lg-1">
                    {% for project in projects_data %}
                    <div class="card mt20 shadow bg-white rounded">
                        <div class="card-body">
                            <h3 class="text-center card-title" style="font-family:'Alegreya Sans SC', sans-serif;font-size:36px;">{{project.name}}</h3>
                            <h6 class="text-center card-subtitle mb-2 mt20">Technologies Used</h6>
                            <ul class="d-flex justify-content-center align-items-center align-content-start flex-wrap">
                                {% for technology in project.technology %}
                                <li>{{technology.name}}</li>
                                {% endfor%}
                            </ul>
                            <p class="text-center card-text">{{project.summary}}</p>
                            <div class="d-flex justify-content-center align-items-center"><a href={% url 'Single-Project-Home' project.id %} class="card-link">Read More</a></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script src={% static "js/jquery.min.js" %}></script>
    <script src={% static "bootstrap/js/bootstrap.min.js" %}></script>
</body>

</html>